TUNNEL_TOKEN=your_tunnel_token_here
SECRET_KEY=your_random_secret_string_here

TURNSTILE_SITE_KEY=your_turnstile_site_key_here
TURNSTILE_SECRET_KEY=your_turnstile_secret_key_here

HTTP_RETRY_TOTAL=3
HTTP_RETRY_BACKOFF_FACTOR=0.5
HTTP_TIMEOUT_CONNECT=5
HTTP_TIMEOUT_READ=20
